<div class="col-sm-6">
  <div class="card">
    <div class="card-block">
      <img src="data:image/JPEG;base64,{{person.Photo}}" class="person-card-photo">
      <h4 class="card-title" id="firstName">{{person.FirstName}} {{person.LastName}}</h4>
      <h6 class="card-subtitle text-muted">Age {{person.Age}}</h6>
    </div>
    <div class="card-block">
      <p class="card-text">{{person.Interests}}</p>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-primary btn-sm" (click)="selectPerson()" data-toggle="modal" data-target="#personEditor"><i class="fa fa-edit"></i> Edit</button>
      <app-photo-upload [person]="person"></app-photo-upload>
      <button type="button" class="btn btn-warning btn-sm float-xs-right" (click)="deletePerson()" id="deletePerson"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
</div>