.person-card {
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    padding:0 15px 0 15px;
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px;
}

.person-card-photo
{
    max-width: 152px;
    float: right;
}