<!-- Modal -->
<div class="modal fade" id="personEditor" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span *ngIf="person.Id">Edit Person</span> <span *ngIf="!person.Id">Add Person</span></h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit();" #personForm="ngForm">
          <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" name="FirstName" id="FirstName" [(ngModel)]="person.FirstName" #firstName="ngModel"
              required>
              <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                First name is required
              </div>
          </div>
          <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" name="LastName" id="LastName" [(ngModel)]="person.LastName" #lastName="ngModel" required>
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
              Last name is required
            </div>
          </div>
          <div class="form-group">
            <label for="Dob">Birthday</label>
            <div class="input-group">
              <input class="form-control" name="dp" [(ngModel)]="model" [attr.minDate]="minDate" [attr.minDate]="maxDate" (ngModelChange)="onSelectDate($event)"
                ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-addon" (click)="d.toggle()">
                  <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div [hidden]="model || (!person.Id)" class="alert alert-danger">
              Birthday is required
            </div>
          </div>
          <div class="form-group">
            <label for="Interests">Interests</label>
            <textarea class="form-control" id="Interests" name="Interests" [(ngModel)]="person.Interests" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!personForm.form.valid" class="btn btn-default" data-dismiss="modal" (click)="onSubmit($event)">Submit</button>
      </div>
    </div>

  </div>
</div>