<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <a class="navbar-brand" href="#">
    <i class="fa fa-users fa-2x"></i> <span id="applicationTitle">{{title}}</span>
  </a>


  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchString" placeholder="Search">
      <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit" (click)="onSearch($event)"><i class="fa fa-search" data-toggle="tooltip" title="Search"></i></button>
          </span>
      <span class="input-group-btn">
          <button *ngIf="searchString" class="btn btn-secondary" type="submit" (click)="onClearSearch($event)" data-toggle="tooltip" title="Cancel search"><i class="fa fa-close"></i></button>
          </span>
    </div>
  </form>
</nav>

<app-person-editor [person]="selectedPerson" (onClose)="onClose($event)" *ngIf="selectedPerson"></app-person-editor>

<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary float-lg-right" (click)="onAdd()" data-toggle="modal" data-target="#personEditor"><i class="fa fa-edit"></i> Add Person</button>
  </div>


  <div class="row">
    <div *ngFor="let person of people; let i = index;">
      <app-person-card [person]="person" (onSelect)="onSelect($event)" (onDelete)="onDelete($event)"></app-person-card>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="span6" style="float: none; margin: 0 auto;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
    </div>
  </div>

</div>