<div class="pos-f-t">
  <div class="collapse" id="navbar-header">
    <div class="container-fluid bg-inverse p-1">
      <h3>Collapsed content</h3>
      <p>Toggleable via the navbar brand.</p>
    </div>
  </div>
  <div class="navbar navbar-light bg-faded navbar-static-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to
      the top of your browser's viewport.</p>
    <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</div>

<i class="fa fa-camera-retro fa-5x"></i> fa-5x


<ul class="nav nav-stacked">
  <div class="list-group-item" *ngFor="let person of people">{{person.FirstName}}</div>
</ul>