<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <i class="fa fa-users fa-2x"></i> {{title}}
  </a>
  <form class="form-inline float-lg-right">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="searchString" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit" (click)="onSearch($event)"><i class="fa fa-search" data-toggle="tooltip" title="Search"></i></button>
        <button *ngIf="searchString" class="btn btn-secondary" type="submit" (click)="onClearSearch($event)" data-toggle="tooltip" title="Cancel search"><i class="fa fa-close"></i></button>
      </span>
    </div>
  </form>

  <button type="button" class="btn btn-primary float-lg-right" (click)="onAdd()" data-toggle="modal" data-target="#personEditor"><i class="fa fa-edit"></i> Add Person</button>

</nav>



<person-editor [person]="selectedPerson" *ngIf="selectedPerson"></person-editor>

<div class="container">
  <div class="col-xs-12 col-sm-9">
    <p class="float-xs-right hidden-sm-up">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">

      <h1>Hello, world!</h1>
      <p>Loading: {{loading.toString()}} AtEnd: {{pageNumber}}</p>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#personEditor">Open Modal</button>
    </div>
    <div class="row">
      <div *ngFor="let person of people; let i = index;">
        <person-card [person]="person" (onSelect)="onSelect($event)" (onDelete)="onDelete($event)">"</person-card>
      </div>
    </div>
    <span *ngIf="loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading...</span></span>
  </div>
</div>